@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fdf0df;
  font-family: "Montserrat", serif;
  color: #000000;
}

.title {
  font-family: "Dancing Script", cursive;
}

header {
  position: relative;
  padding: 3em;
  background-color: #fdf0df;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid black;
  height: 10vh;
}
h3 {
  text-transform: capitalize;
}
ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}
li {
  list-style: none;
}
li > a {
  border: 1px solid gray;
  padding: 0.5rem;
  height: 100%;
  border-radius: 1em;
  transition: 0.5s ease-in-out all;
}
fieldset {
  border: none;
}
.titleImage {
  max-width: 10rem;
  height: auto;
}

#loginMenu button {
  color: white;
}
#signup {
  position: absolute;
  background-color: #77867f;
  top: 6em;
  right: 1em;
  bottom: -12em;
  border-radius: 0.5em 0.5em 0 0.5em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 20%;
  height: 18em;
}

#signup input {
  padding: 0.3em;
  border-radius: 0.3em;
  border: 1px solid gray;
}

#signup .signupBt {
  border: none;
  position: absolute;
  right: 0;
  bottom: -2.1em;
  width: 50%;
  background-color: #77867f;
  border-radius: 0 0 0.5em 0.5em;
}
#login {
  position: absolute;
  background-color: #7c9885;
  right: 1em;
  top: 6em;
  border-radius: 0.5em 0.5em 0.5em 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 20%;
  height: 18em;
}
#login input {
  padding: 0.3em;
  border-radius: 0.3em;
  border: 1px solid gray;
}
#login .loginBt {
  border: none;
  position: absolute;
  left: 0;
  bottom: -2.1em;
  width: 50%;
  background-color: #7c9885;
  border-radius: 0 0 0.5em 0.5em;
}
.cart {
  position: fixed;
  right: 2em;
  bottom: 2em;
  z-index: 998;
}

.cart:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.produtos__container__card__price{
  display: flex;
  gap: 1em;
  align-items: center;
}
.produtos__container__card__price i{
  color: rgb(153, 101, 4);
  font-size: 2em;
}
.cartItem {
  display: flex;
  background-color: #6c4b5e;
  padding: 0.5em;
  border-radius: 0.5em;
  align-items: center;
  color: white;
  justify-content: space-around;
}
.cartItem img {
  width: 10%;
  border-radius: 0.5em;
}
.cartItem .itemControl {
  display: flex;
  gap: 0.5em;
  align-items: center;
}
.cartItem .itemControl p {
  background-color: white;
  padding: 0.8em;
  border-radius: 0.5em;
  color: black;
}
.cartQuantity{
  background-color: rgb(170, 11, 11);
  position: fixed;
  bottom: 2em;
  right: 2em;
  color: white;
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3em;
  z-index: 999;
}
i:hover {
  transform: scale(1.2);
  cursor: pointer;
}
#cartMenu {
  position: fixed;
  right: 0.5em;
  top: 1em;
  height: 90vh;
  width: 80vw;
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  gap: .5em;
  border-radius: 1em;
  overflow-y: scroll;
}
li > a:hover {
  background-color: #6c4b5e;
  color: black;
}

h2 {
  margin-bottom: 1em;
}
a {
  text-decoration: none;
  color: #f26372;
}

section {
  width: 100%;
}

#produtos {
  padding: 3em;
}

#admin {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 3em;
  gap: 1em;
}
#admin > fieldset {
  border: none;
}
.admin__produtos {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
#sobre {
  padding: 3em;
}
.sobreImg {
  margin-top: -7em;
}

.produtos__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5em;
  background-color: blueviolet;
  padding: 1em;
  border-radius: 0.5em;
  background-color: #539997;
}

.card {
  background-color: #a5d2b2;
  border-radius: 0.5em;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
}

.card > img {
  height: auto;
  width: 14rem;
  border-radius: 1em;
}
.card > p {
  text-transform: capitalize;
  text-align: center;
}

.btn {
  color: #f26372;
  border: 1px solid gray;
  padding: 0.6rem;
  border-radius: 1em;
  transition: 0.5s ease-in-out all;
  background-color: transparent;
}

.btn:hover {
  cursor: pointer;
}

#modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.233);
}
.modal__container {
  background-color: #539997;
  display: flex;
  flex-direction: column;
  border-radius: 1em;
}
.modal__container__header {
  display: flex;
  justify-content: space-between;
  background-color: #a2a8a5;
  padding: 1em;
  border-radius: 1em 1em 0 0;
  gap: 1em;
}
.modal__container__header > span:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.modal__container > fieldset {
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin: 1em;
}
.modal__container > button {
  color: #fdf0df;
  width: 50%;
  margin: 0 auto 1em auto;
}
.modal__container > fieldset > input {
  width: 100%;
  border-radius: 0.5em;
  padding: 0.3em;
  border: 1px solid gray;
}
.hidden {
  display: none !important;
}
.onTop {
  z-index: 9999 !important;
}
footer {
  display: flex;
  justify-content: center;
}
